/* Custom Menu
-------------------------- */

#custommenu { 
	width: 100%; 
	margin: 0 auto; 
	padding:20px 0 0 10px;
	clear:both; 
	height: 30px; 
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x; 
    background-position:center top;
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}
#custommenu ul li { 
	border-color: [[setting:bgheadings]]; 
	border-style: ridge; 
	border-width: 4px;
    background-color: [[setting:bgsidebar]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    margin-right:5px;
}

/* 
Dropdown Menu - CSS adapted from DeCaf Theme by Lei Zhang
-------------------------------------------------*/

#custommenu ul.dropdown span.customitem { 
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: [[setting:bgsidebar]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
}

#custommenu ul.dropdown li a,
ul.dropdown span.customitem a { 
	padding:6px 10px;
}

#custommenu ul.dropdown span.customitem a:hover { 
	border: 0;
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
}
#custommenu ul.dropdown ul { 
	padding:0;
	width:auto;
}
#custommenu ul.dropdown ul a { 
    padding:4px 0px 4px 18px;
	background-color:[[setting:bgsidebar]];
	background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
}

#custommenu ul.dropdown > li span a { 
	height:17px;

}

#custommenu ul.dropdown,
#custommenu ul.dropdown li,
#custommenu ul.dropdown ul {
	list-style:none;
	margin:0;
	padding:0;
}

#custommenu ul.dropdown {
	position:relative;
	top:0px;
	z-index:597;
	float:left;
	font:13px "Trebuchet MS",Arial,Helvetica,sans-serif;
	text-shadow: 1px 1px 3px [[setting:maintxt]];
	background-color:transparent;
}

#custommenu ul.dropdown li {
	float:left;
	line-height:1.3em;
	vertical-align:middle;
    background-color: transparent; 
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
	zoom:1 !important;
}

#custommenu ul.dropdown li.hover,
#custommenu ul.dropdown li:hover {
	position:relative;
	z-index:599;
	cursor:default;
    border-style:groove;
}

#custommenu ul.dropdown ul {
	visibility:hidden;
	position:absolute;
	top:100%;
	z-index:598;
	left:-2px;
	right:auto;
	margin-top: -1px;
	font:100% "Trebuchet MS",Arial,Helvetica,sans-serif;
	text-shadow: 1px 1px 3px [[setting:maintxt]];
}

#custommenu ul.dropdown ul li {
	float:none;
	padding:0;
}

#custommenu ul.dropdown ul ul {
	top:0;
	right:auto;
	left:100%;
	margin-top:0;
	border-top:none;
	border-left:none;
	font-weight:400;
}

#custommenu ul.dropdown li:hover > ul {
	visibility:visible;
}

#custommenu ul.dropdown span,
#custommenu ul.dropdown span a,
#custommenu ul.dropdown li.clickable-with-children > a {
	width: auto;
	padding:2px 6px 4px 20px;
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}

#custommenu ul.dropdown ul span, 
#custommenu ul.dropdown ul span a, 
#custommenu ul.dropdown ul li.clickable-with-children > a { 
    background-color: [[setting:bgmain]] !important;
	background-image: url([[pix:theme|menu/nav-arrow-right]]);
	background-position:100% 50%;
	background-repeat:no-repeat;
	color: [[setting:maintxt]] !important;
    text-shadow: 1px 1px 3px [[setting:headertxt]] !important;
}


#custommenu ul.dropdown ul ul span,
#custommenu ul.dropdown ul ul span a,
#custommenu ul.dropdown ul ul li.clickable-with-children > a {
	background-image: url([[pix:theme|menu/nav-arrow-right2]]);
	background-position:100% 50%;
	background-repeat:no-repeat;	
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}

#custommenu ul.dropdown a:link, 
#custommenu ul.dropdown a:visited {
    background-color:[[setting:bgsidebar]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
	text-decoration: none;
	padding:6px 10px;
}

#custommenu ul.dropdown a:hover { 
	border: 0;
    background-color: [[setting:bgheadings]] !important;
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
}

#custommenu ul.dropdown ul ul li { 
}

#custommenu ul.dropdown ul ul ul li { 
}

#custommenu ul.dropdown li a,
#custommenu ul.dropdown span,
#custommenu ul.dropdown span a { 
	border: none; 
	background-color: transparent;

}

#custommenu ul.dropdown ul li a,
#custommenu ul.dropdown ul span,
#custommenu ul.dropdown ul span a { 
	border: 0;
}

#custommenu ul.dropdown ul ul li a,
#custommenu ul.dropdown ul ul span, 
#custommenu ul.dropdown ul ul span a {
	border:0
}

#custommenu ul.dropdown ul ul ul li a,
#custommenu ul.dropdown ul ul ul span, 
#custommenu ul.dropdown ul ul ul span a {
	border:0;
}

#custommenu ul.dropdown a,
#custommenu ul.dropdown span{ 
	display:block; 
}

#custommenu ul.dropdown ul a {
	width:170px;
	padding:2px 0 4px 5px;
}

#custommenu ul.dropdown ul a.open:hover {
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}

#custommenu ul.dropdown ul li:hover > span, 
#custommenu ul.dropdown ul li:hover > span a {
    background-color: [[setting:bgheadings]];
	background-image:url([[pix:theme|menu/ab-arrowover]]);
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}

#custommenu ul.dropdown li.clickable-with-children:hover > a {
  background-image:url([[pix:theme|menu/ab-arrowover]]);
}

#custommenu ul.dropdown *.open,
#custommenu ul.dropdown li:hover > span, 
#custommenu ul.dropdown li:hover > span a {
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}
#custommenu ul.dropdown ul ul *.open,
#custommenu ul.dropdown ul ul li:hover > span,
#custommenu ul.dropdown ul ul li:hover > span a {
    background-color: [[setting:bgheadings]];
    background-image:url([[pix:theme|menu/ab-arrowover]]);
    color:[[setting:headertxt]];
    text-shadow: 1px 1px 3px [[setting:maintxt]];
}

#custommenu ul li:hover {
    border-style:groove;
}

/* 
Additional CSS for HOME Icon & Date in Custom Menu by Daniel Wahl (see renderers.php)
----------------------------------------------------------------------------------------*/


#custommenu ul.dropdown {
  width:100%
}


#custommenu ul.dropdown > li:first-child a { 
    height: 17px;  
}

#custommenu ul.dropdown > li:first-child a:hover {
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
}

