html {
    background-color:[[setting:bgmain]];
    color:[[setting:maintxt]];
}
body {
    background-color:[[setting:bgmain]];
    color:[[setting:maintxt]];
    width:[[setting:bodywidth]];
    margin:0 auto;
    border:1px solid [[setting:bgheadings]];
}
#headerwrap {
    background-image: url([[pix:theme|headerwrap]]);
    background-position: left top;
    background-repeat: no-repeat;
    height:150px;
}

#page-header {
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|headerbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    color:[[setting:headertxt]];
    height:150px;
}
.navbar .breadcrumb ul li a {color:blue;}

#logo {
    background-image: url([[setting:pgimage]]);
}
#page-footer {
    border-top:1px dotted [[setting:maintxt]];
    background-color: [[setting:bgsidebar]];
}
.colmask {
    border-top: 5px solid [[setting:bgsidebar]];
    border-bottom: 5px solid [[setting:bgsidebar]];
}

/* layout background colours */
/* 3col HolyGrail */
.threecol .colleft {
    background-color:[[setting:bgsidebar]];} /* left sidebar */
.threecol .colmid {
    background-color:[[setting:bgmain]];} /* main content */
.threecol {
    background-color:[[setting:bgsidebar]];} /* right sidebar */
    
/* 3col BlogStyle */
.blogstyle .colleft {
    background-color:[[setting:bgmain]];} /* main content */
.blogstyle .colmid {
    background-color:[[setting:bgsidebar]];} /* 1st sidebar */
.blogstyle {
    background-color:[[setting:bgsidebar]];} /* 2nd sidebar */
.contentonly .blogstyle .col1 {
    background-color:[[setting:bgmain]];} /* main content */
    
/* 2col leftmenu */
.leftmenu .colleft {
    background-color:[[setting:bgsidebar]];} /* left sidebar */
.leftmenu {
    background-color:[[setting:bgmain]];} /* main content */
    
/* 2col rightmenu */
.rightmenu .colleft {
    background-color:[[setting:bgmain]];} /* main content */
.rightmenu {
    background-color:[[setting:bgsidebar]];} /* left sidebar */
.contentonly .rightmenu .col1 {
    background-color:[[setting:bgmain]];} /* main content */
    
/* 1col full page */
.fullpage {
    background-color:[[setting:bgmain]];} /* main content */

.region-content {
    margin-top: 10px;
}


.block .header {
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    height:25px;
}
.block .header h2 {
    margin-top: 0px;
    color:[[setting:headertxt]];
}
.block .content {
    background-color:[[setting:bgmain]];
    color:[[setting:maintxt]];
}
.path-course-view .headingblock {
    background-color: [[setting:bgheadings]];
    background-image: url([[pix:theme|blockheaderbg]]);
    background-position: left top;
    background-repeat: repeat-x;
    height:25px;
    color:[[setting:headertxt]];
}
.course-content h2.headingblock{
    margin-top:0;
}



